<div class="row">
    <div class="col s6 offset-s3 ">

        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}

        <h1 class="al">Заполнение профиля</h1>
            <form action="/users/adduser" method="POST">
        <div class="input-field">
            <input id="name" name="name" type="text" class="validate" required>
            <label for="name">Напишиет своё имя<label>
            <span class="helper-text" data-error="Напишиет своё имя"></span>
            
        </div>
        <div class="input-field">
            <input id="departmentName" name="departmentName" type="text" class="validate" required>
            <label for="departmentName">Введите название организации<label>
            <span class="helper-text" data-error="Введите название организации"></span>
            
        </div>
        <div class="input-field">
            <input id="departmentInn" name="departmentInn" type="text" class="validate" required>
            <label for="departmentInn">Введите ИНН организации<label>
            <span class="helper-text" data-error="Введите ИНН организации"></span>
            
        </div>
        <div class="input-field">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">Новый пароль<label>
            <span class="helper-text" data-error="Введите пароль"></span>
        </div>

        <div class="input-field">
            <input id="confirm" name="confirm" type="password" class="validate" required>
            <label for="confirm">Новый пароль<label>
            <span class="helper-text" data-error="Введите пароль"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="token" value="{{token}}">
        <button class="btn btn-primary green darken-1" type="submit">Обновить</button>
    </form>
    </div>
</div> 