<div class="row">
<div id="register" class="col s6 offset-s3">
        
        {{#if registerError}}
            <p class="alert">{{registerError}}</p>
        {{/if}}

        <h1>Регистрация</h1>
            <form action="/auth/register" method="POST">
        <div class="input-field">
            <input id="remail" name="email" type="email" class="validate" required>
            <label for="remail">Email<label>
            <span class="helper-text" data-error="Введите email"></span>
            
        </div>

          <div class="input-field">
            <input id="name" name="name" type="text" class="validate" required>
            <label for="name">Ф.И.О<label>
            <span class="helper-text" data-error="Введите Ф.И.О"></span>
            
        </div>

        <div class="input-field">
            <input id="rpassword" name="password" type="password" class="validate" required>
            <label for="rpassword">Пароль</label>
            <span class="helper-text" data-error="Введите пароль"></span>
        </div>

        <div class="input-field">
            <input id="confirm" name="rpassword" type="password" class="validate" required>
            <label for="confirm">Пароль еще раз</label>
            <span class="helper-text" data-error="Введите пароль "></span>
        </div>
        
        <input type="hidden" name="_csrf" value="{{csrf}}">
        
        <button class="btn btn-primary green darken-1" type="submit">Зарегистрироваться</button>
    </form>
    </div>
    </div>