<h1>Добавить данные</h1>

<form action="/add" method="POST">
    <div class="input-field">
          <input id="name" type="text" class="validate">
          <label for="name">Заказчик (наименование,ИНН)</label>
    </div>

    <div class="input-field">
          <input id="nomer_dogovora" type="text" class="validate">
          <label for="nomer_dogovora">Номер договора</label>
    </div>
</form>