<h1>данные о записи</h1>

    <div class="input-field">
          <input  disabled id="name" name="name" type="text" class="validate" value="{{record.name}}">
          <label for="name">Заказчик (наименование,ИНН)</label>
          <span class="helper-text" data-error="Введите название"></span>
          
    </div>

    <div class="input-field">
          <input  disabled id="nomer_dogovora" name="nomer_dogovora" type="text" class="validate" value="{{record.nomer_dogovora}}">
          <label for="nomer_dogovora">Номер договора</label>
          <span class="helper-text" data-error="Введите номер договора"></span>
    </div>
    
    <div class="input-field">
          <input  disabled  id="data_zakl_dogovora" name="data_zakl_dogovora" type="text" class="datepicker" value="{{record.data_zakl_dogovora}}">
          <label for="data_zakl_dogovora">Дата заключения договора</label>
          <span class="helper-text" data-error="Укажите дату"></span>
    </div>



