<div class="row">
    <div class="col s12 s8">
      <div class="card z-depth-2">
        <div class="card-content">
          <span class="card-title"><h1>Просмотр данных</h1></span>

       <div>
                <h5>Главный распорядитель бюджетных средств</h5>
                <blockquote>
                      {{grbs.name}}
                </blockquote>
                
            </div>
      <div>
                <h5>Email ответвенного в ГРБС</h5>
                <blockquote>
                      {{grbs.email}}
                </blockquote>
                
            </div>
    
    
<div class="card-action">
      <table class="highlight centered col s6">
    <thead>
      <tr>
      </tr>
     </thead>
     <tbody>
           <td></td>
           <td></td>
     </tbody>
     </table>
</div>
    

</div>
</div>
</div>
</div>




